<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Office Test</title>

    <!-- Office JavaScript API -->
    <script type="text/javascript" src="https://appsforoffice.microsoft.com/lib/1.1/hosted/office.debug.js"></script>
     <!-- <script src="http://localhost:1337/vorlon.js"></script>  -->
    <!-- LOCAL -->
    <link rel="stylesheet" href="scripts/office-ui-fabric-js/dist/css/fabric.min.css" />
    <link rel="stylesheet" href="scripts/office-ui-fabric-js/dist/css/fabric.components.css" />

    <!-- Template styles -->
    <link href="app.css" rel="stylesheet" type="text/css" />
</head>

<body class="ms-font-m ms-welcome">
    <div id="content-header">
        <div class="padding">
            <h1>Contract Data</h1>
        </div>
    </div>
    <div id="content-main">
        <div class="padding">
            <p>Select the contract number to see its information:</p>
            <br />
            <div class="ms-TextField">
                <label class="ms-Label">Master Agreement Nº</label>
                <input class="ms-TextField-field" type="text" value="" placeholder="">
              </div>
            <button class="ms-Button" id="set-color">Retrieve</button>
            <button class="ms-Button" id="send-data">Update</button>
        </div>
        <div class="padding" id="listbox">
            <p>Lista de itens:</p>
            <br />
            <ul class="ms-List" id="list">
            </ul>
        </div>
    </div>

    <script type="text/javascript" src="scripts/core-js/client/core.js"></script>
    <script type="text/javascript" src="scripts/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="scripts/office-ui-fabric-js/dist/js/fabric.js"></script>

    <script src="/scripts/odata/o.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

</body>

</html>
